<?xml version="1.0" ?>
<launch>
  <group ns="robotSetup">
    <rosparam file="$(find franka_ros_example)/config/robotSetup.yaml" />
  </group>
  <group ns="pickAndPlace">
    <rosparam file="$(find my_robot_control)/config/pickandplace.yaml" />
  </group>
  <group ns="robotParam">
    <rosparam file="$(find my_robot_control)/config/robot.yaml" />
  </group>
  <node name="high_level_service" pkg="my_robot_control" type="high_level_service_real"  output="screen"></node>
  <node name="my_controller" pkg="my_robot_control" type="my_control"  output="screen">
  </node>
</launch>